@page "/profile"
@page "/profile/{userName}"
@using System.Web;
@using System.Globalization
@using FetWaveWWW.Helper
@using FetWaveWWW.Pages.Events
@{
    var ti = new CultureInfo("en-US", false).TextInfo;
}

@if (NewUser)
{
    <h1>Welcome new user</h1>
    <ProfileEditor Profile="Profile" />
}
@if(Profile?.Id > 0)
{
    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Basic">
                <h1>@Profile.User.UserName</h1>
                @if (Profile.Pronouns != null)
                {
                    <h3>@Profile.Pronouns.Value</h3>
                }
                @if (Profile.Region != null)
                {
                    <h3>@ti.ToTitleCase(Profile.Region.Name ?? string.Empty), @Profile.Region.StateCode</h3>
                }
                @if (!string.IsNullOrWhiteSpace(Profile.AboutMe))
                {
                    <p>@Profile.AboutMe</p>
                }
            </RadzenTabsItem>
            @if (SameUser)
            {
                <RadzenTabsItem Text="Edit">
                    <ProfileEditor Profile="Profile"/>
                </RadzenTabsItem>
            }
            <RadzenTabsItem Text="Groups">
            </RadzenTabsItem>
            <RadzenTabsItem Text="Fetishes">
            </RadzenTabsItem>
            <RadzenTabsItem Text="Relationships">
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
    
}
