@page "/event/rsvps/{eventGuid}"
@using FetWaveWWW.Helper

@{
    var action = string.IsNullOrEmpty(eventGuid)
        ? "New"
        : "Edit";
}

@if (SelectedEvent != null)
{
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>@SelectedEvent.Title</h3>
                <p>@SelectedEvent.Description</p>
                <label>Starts At:</label>
                <div>
                    <DatetimePicker InitialDate="@SelectedEvent.StartDate!.Value" />
                </div>
                <label>Ends At:</label>
                <div>
                    <DatetimePicker InitialDate="@SelectedEvent.EndDate!.Value" />
                </div>
                <RegionSelector SelectedRegionId="@SelectedEvent.RegionId" />
                <div class="form-group">
                    <label>Address:</label>
                    <input type="text" class="form-control" @bind="SelectedEvent!.Address" readonly />
                </div>
                <RadzenDropDown @bind-Value="CategoryValues" Data=@Categories TextProperty="Name" ValueProperty="Id" Name="DropDownCategories"
                                Multiple=true AllowClear=true Placeholder="Select categories" Chips=true Style="width: 100%; max-width: 400px;" />
                <RadzenDropDown @bind-Value="DressCodeValues" Data=@DressCodes TextProperty="Name" ValueProperty="Id" Name="DropDownDressCodes"
                                Multiple=true AllowClear=true Placeholder="Select dress codes" Chips=true Style="width: 100%; max-width: 400px;" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h1>RSVPs</h1>
            @if (!(RSVPs?.Any() ?? false))
            {
                <p>No RSVPs for this event</p>
            }
                @foreach (var r in RSVPs??[])
            {
                <RadzenCheckBox @bind-Value=@SelectedRSVPs![r.Id] Name=@($"CheckBox{r.Id}") />
                <RadzenLabel Text="@r.User.UserName" Component=@($"CheckBox{r.Id}") class="rz-ms-2" />
                <ul>
                @if (r.ApprovedTS is not null)
                {
                    <li>Approved - @r.ApprovedTS.Value.ToString("yyyy-MM-dd HH:mm") UTC - <button type="button" @onclick=@(async () => await UnapproveRSVP(r.Id))>Undo Approval</button></li>
                }
                else
                {
                    <li><button type="button" @onclick=@(async () => await ApproveRSVP(r.Id))>Approve</button></li>
                }
                </ul>
                
            }
            </div>
            <div class="col-lg-6 col-md-12">
                <input type="radio" name="emailList" value="@EmailListEnum.All" checked="@(EmailList?.Equals(EmailListEnum.All))" @onchange="EmailListOnChange" />
                <label>All</label>
                <br />
                <input type="radio" name="emailList" value="@EmailListEnum.Approved" checked="@(EmailList?.Equals(EmailListEnum.Approved))" @onchange="EmailListOnChange" />
                <label>Approved</label>
                <br />
                <input type="radio" name="emailList" value="@EmailListEnum.Selected" checked="@(EmailList?.Equals(EmailListEnum.Selected))" @onchange="EmailListOnChange" />
                <label>Selected</label>
                <br />
                <label>Subject:</label><input type="text" @bind=@EmailSubject>

                <RadzenHtmlEditor @bind-Value=@EmailBody style="height: 300px;"/>
                @if (RSVPs?.Any() ?? false)
                {
                    <button type="button">Send Email</button>                    
                }
                else
                {
                    <button disabled type="button">Send Email</button>
                    <p>Cannot send with no recipients</p>
                }
                
            </div>
        </div>
    </div>
}
